@model Grillbot.Models.Unverify.UnverifyCurrentStatusViewModel;

@{
    ViewData["Title"] = "Unverify";

    var page = Context.Request.Query.TryGetValue("page", out Microsoft.Extensions.Primitives.StringValues values) ? Convert.ToInt32(values.ToString()) : 1;

    if (page > Model.Unverifies.Count)
    {
        page = Model.Unverifies.Count;
    }
    else if (page < 1)
    {
        page = 1;
    }
}

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <h4 class="card-title font-weight-light mb-0 pb-0">Unverify status</h4>
        </div>

        <div class="card-body">
            @if (Model.Unverifies == null || Model.Unverifies.Count == 0)
            {
                <h2 class="text-center">Aktuálně nemá nikdo odebraný přístup</h2>
            }
            else
            {
                var item = Model.Unverifies[page - 1];
                <partial name="CurrentlyUnverifiedPartial" model="item" />

                <ul class="pagination justify-content-center">
                    <li class="page-item @(page <= 1 ? "disabled" : "")">
                        <a class="page-link" href="?page=@(page - 1)" tabindex="-1">Zpět</a>
                    </li>
                    <li class="page-item">
                        <span class="page-link" href="#">@(page) / @Model.Unverifies.Count</span>
                    </li>
                    <li class="page-item @(page == Model.Unverifies.Count ? "disabled" : "")">
                        <a class="page-link" href="?page=@(page + 1)">Vpřed</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
