@{
    var isAdmin = ViewData["Admin"] == null || (bool)ViewData["Admin"] == true;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @if (isAdmin)
    {
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    }

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    @if (isAdmin)
    {
        <partial name="Menu" />
    }

    <div class="body-block">
        <h1 class="mt-2">@ViewBag.Title</h1>

        @RenderBody()
    </div>
</body>
</html>
