<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a asp-controller="Admin" asp-action="Index" class="nav-item nav-link active mr-2">Stav bota</a>
            <a asp-controller="Admin" asp-action="CallStats" class="nav-item nav-link active mr-2">Statistiky volání</a>
            <a asp-controller="TeamSearch" asp-action="Index" class="nav-item nav-link active mr-2">Hledání týmů</a>
            <a asp-controller="Math" asp-action="Index" class="nav-item nav-link active mr-2">Výpočty</a>
        </div>
    </div>

    <div class="form-inline">
        <a asp-controller="Auth" asp-action="Logout" class="text-white">Odhlásit se</a>
    </div>
</nav>