<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav">
            <a asp-controller="Admin" asp-action="Index" class="nav-item nav-link active mr-2">Stav bota</a>
            <a asp-controller="Admin" asp-action="TeamSearch" class="nav-item nav-link active mr-2">Hledání týmů</a>
            <a asp-controller="Admin" asp-action="Math" class="nav-item nav-link active mr-2">Výpočty</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="unverify_navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Unverify
                </a>
                <div class="dropdown-menu" aria-labelledby="unverify_navbarDropdown">
                    <a asp-controller="Unverify" asp-action="Index" class="dropdown-item">Aktuální stav</a>
                    <a asp-controller="Unverify" asp-action="Audit" class="dropdown-item">Audit log</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="internal_navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Interní
                </a>
                <div class="dropdown-menu" aria-labelledby="internal_navbarDropdown">
                    <a asp-controller="Internal" asp-action="Cache" class="dropdown-item">Cache zpráv</a>
                    <a asp-controller="Admin" asp-action="CallStats" class="dropdown-item">Statistiky volání</a>
                </div>
            </li>
            <a asp-controller="Users" asp-action="Index" class="nav-item nav-link active mr-2">Uživatelé</a>
            <li class="nav-item nav-link">
                <a asp-controller="Auth" asp-action="Logout" class="text-white">Odhlásit se</a>
            </li>
        </ul>
    </div>
</nav>