<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <a asp-controller="Admin" asp-action="Index" class="nav-item nav-link active mr-2">Stav bota</a>
            <a asp-controller="Admin" asp-action="CallStats" class="nav-item nav-link active mr-2">Statistiky volání</a>
            <a asp-controller="Admin" asp-action="TeamSearch" class="nav-item nav-link active mr-2">Hledání týmů</a>
            <a asp-controller="Admin" asp-action="Math" class="nav-item nav-link active mr-2">Výpočty</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Unverify
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a asp-controller="Unverify" asp-action="Index" class="dropdown-item">Aktuální stav</a>
                    <a asp-controller="Unverify" asp-action="Audit" class="dropdown-item">Audit log</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="form-inline">
        <a asp-controller="Auth" asp-action="Logout" class="text-white">Odhlásit se</a>
    </div>
</nav>