[*.cs]
charset = utf-8

# S1075: URIs should not be hardcoded
dotnet_diagnostic.S1075.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none

# RCS1023: Format empty block.
dotnet_diagnostic.RCS1023.severity = none

# S1186: Methods should not be empty
dotnet_diagnostic.S1186.severity = none

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none

# S3928: Parameter names used into ArgumentException constructors should match an existing one 
dotnet_diagnostic.S3928.severity = none

# Default severity for analyzer diagnostics with category 'Usage'
dotnet_analyzer_diagnostic.category-Usage.severity = none
