
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form method="post">
        <input name="username" />
        <input name="password" />
        <button type="submit">Send</button>
    </form>
</body>
</html>
