@model Grillbot.Models.Audit.AuditBotAdded;

<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-4 font-weight-bold">Uživatel:</div>
            <div class="col">@Model.Bot.Username#@Model.Bot.Discriminator</div>
        </div>
    </div>
</div>
