@model Grillbot.Models.Audit.CommandAuditData;

<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-4 font-weight-bold">Příkaz:</div>
            <div class="col">
                <code>@Model.Group @Model.CommandName</code>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5 class="mt-2">Zpráva</h5>

        <pre class="alert alert-dark">@Model.MessageContent</pre>
    </div>
</div>