@model Grillbot.Models.Audit.DiscordAuditLog.AuditOverwriteInfo;

<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-4 font-weight-bold">Cíl výjimky</div>
            <div class="col">
                @if (Model.PermissionTarget == Discord.PermissionTarget.Role)
                {
                    @Model.TargetRole?.Name <text> (Role)</text>
                }
                else if (Model.PermissionTarget == Discord.PermissionTarget.User)
                {
                    @Model.TargetUser?.GetFullName(); <text> (Uživatel)</text>
                }
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="width: 30%">Typ oprávnění</th>
                    <th>Práva</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>Povoleno</th>
                    <td>
                        @(Model.Permissions.AllowValue == 0 ? "-" : string.Join(", ", Model.Permissions.Permissions.ToAllowList().Select(o => o.ToString())))
                    </td>
                </tr>

                <tr>
                    <th>Zakázáno</th>
                    <td>
                        @(Model.Permissions.DenyValue == 0 ? "-" : string.Join(", ", Model.Permissions.Permissions.ToDenyList().Select(o => o.ToString())))
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
