@model Grillbot.Models.Audit.DiscordAuditLog.AuditUnban;

<div class="row mt-3">
    <div class="col-md-5">
        <div class="row">
            <div class="col-4 font-weight-bold">Uživatel</div>
            <div class="col">@Model.User.Username#@Model.User.Discriminator</div>
        </div>
    </div>
</div>
