@model Grillbot.Models.Audit.UserJoinedAuditData;

<div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-4 font-weight-bold">Počet uživatelů:</div>
            <div class="col">@Model.MemberCount.FormatWithSpaces()</div>
        </div>
    </div>

    <div class="col-md-7">
        @if (Model.User.User != null)
        {
            <div class="row">
                <div class="col-4 font-weight-bold">Účet založen:</div>
                <div class="col">@Model.User?.User?.CreatedAt.LocalDateTime.ToLocaleDatetime()</div>
            </div>
        }

        <div class="row">
            <div class="col-4 font-weight-bold">ID účtu:</div>
            <div class="col">@Model.User?.DiscordId</div>
        </div>
    </div>
</div>

@if (Model.User?.UsedInvite != null)
{
    <div class="row">
        <div class="col-md-12">
            <h5 class="mt-2">Použitá pozvánka</h5>

            <partial name="InvitePartialView" model="Model.User.UsedInvite" />
        </div>
    </div>
}
