body {
    background-color: #222 !important;
    color: whitesmoke;
}

.card.bg-dark {
    background-color: #303030 !important;
    color: white;
}

    .card.bg-dark .card-header, .card.bg-dark .card-footer {
        background-color: #444 !important;
    }

.pagination .page-item.disabled .page-link {
    background-color: #007053 !important;
}

.pagination .page-item.active .page-link {
    background-color: #00efb2 !important;
}

.pagination .page-item .page-link {
    background-color: #00bc8c !important;
    border-color: transparent;
    color: white;
}

.card.bg-dark .table tr th, .card.bg-dark .table tr td {
    color: white;
}

.card.bg-dark .table tr td a {
    color: white;
    text-decoration: underline;
}

p.text-wrap {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /* Chrome & Safari */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}