.block {
    height: 100%;
    color: whitesmoke;
}

header {
    padding: 13px 0px;
    background: url('../img/header.png');
    color: whitesmoke;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.75);
    position: relative;
}

    header .header-container {
        margin: auto;
        width: 80vw;
        display: flex
    }

.server-info, .user-info {
    display: flex;
}

.server-info {
    width: 70%;
}

.profile-picture {
    width: 64px;
    height: 64px;
    border-radius: 40px;
    border: 1px solid black;
    margin-right: 15px;
}

.server-info h2, .user-info h2 {
    font-weight: 400;
    margin: 0;
}

.server-info p, .user-info p {
    margin: 0;
}

.body-content {
    background: #202225;
    height: 100%;
}

    .body-content .body-content-content {
        margin: auto;
        width: 80vw;
        padding-top: 8vh;
    }

.items-container {
    width: 65vw;
    margin-bottom: 30px;
}

.container-item {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-bottom: 1px solid rgba(81, 85, 90, 1);
    padding: 10px;
    align-items: center;
}

    .container-item:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .container-item:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom: none;
    }

.container-item-order {
    border: 1px solid;
    border-radius: 50%;
    min-width: 32px;
    min-height: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 16px;
}

.container-item-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

    .container-item-columns div {
        width: 25%;
        padding: 0px 5px;
    }

.status-spotify {
    border: 2px solid #1db954;
}

.status-online {
    border: 2px solid lightgreen;
}

.status-donotdisturb {
    border: 2px solid rgb(240, 71, 71);
}

.status-idle {
    border: 2px solid rgb(250, 166, 26);
}

.flex-on-columns {
    flex-direction: column;
}

.container-item-header {
    margin: 20px;
    font-weight: 400;
}

.container-item-text {
    padding: 15px;
}

.container-item-headericon {
    font-size: 100px;
}
