@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');

html, body {
    font-family: 'Red Hat Text', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.block {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-content {
    flex-grow: 1
}

h2 {
    font-size: 1.5rem !important;
    margin-bottom: 0px;
}

.body-block h1 {
    margin: 0;
    padding-left: 30px;
}

.form-row label {
    margin-bottom: 0;
}

.bottom-bold-border {
    border-bottom: 2px solid;
}

.only-border-left {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.two-px-border {
    border-width: 6px;
}
