<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="unverify_navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Unverify
                </a>
                <div class="dropdown-menu" aria-labelledby="unverify_navbarDropdown">
                    <a asp-controller="Unverify" asp-action="Index" class="dropdown-item">Aktuální stav</a>
                    <a asp-controller="Unverify" asp-action="Audit" class="dropdown-item">Audit log</a>
                </div>
            </li>
            <a asp-controller="Users" asp-action="Index" class="nav-item nav-link active mr-2">Uživatelé</a>
            <a asp-controller="ErrorLog" asp-action="Index" class="nav-item nav-link active mr-2">Chyby</a>
            <a asp-controller="Reports" asp-action="Index" class="nav-item nav-link active mr-2">Reporty</a>
            <a asp-controller="Invite" asp-action="Index" class="nav-item nav-link active mr-2">Pozvánky</a>
        </ul>
        <span class="navbar-text">
            <span class="dropdown">
                <a class="dropdown-toggle text-white" href="#" id="user_navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name (@@@User.FindFirst(ClaimTypes.Role).Value)
                </a>
                <div class="dropdown-menu" aria-labelledby="user_navbarDropdown">
                    <a asp-controller="Auth" asp-action="Logout" class="dropdown-item text-dark">Odhlásit se</a>
                </div>
            </span>
        </span>
    </div>
</nav>