@model Grillbot.Models.Math.MathViewModel;

@{
    ViewData["Title"] = "Výpočetní jednotky";
}

<div class="d-flex justify-content-center">
    <section class="mt-4 row mr-0 ml-0" style="width: 1600px">
        <div class="col-md-6 mb-2">
            <div class="card">
                <h5 class="card-header">Server boosters</h5>
                <div class="card-body">
                    <partial name="Partials/MathSessionsTablePartial" model="Model.Sessions.Where(o => o.ForBooster).ToList()" />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Běžní uživatelé</h5>
                <div class="card-body">
                    <partial name="Partials/MathSessionsTablePartial" model="Model.Sessions.Where(o => !o.ForBooster).ToList()" />
                </div>
            </div>
        </div>
    </section>
</div>