@model Grillbot.Models.ErrorLog.ErrorLogViewModel;

@{
    ViewData["Title"] = "Chyby";
}

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
            <h4 class="card-title font-weight-light mb-0 pb-0">Logování chyb</h4>
        </div>

        <form class="card-header" method="get">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="ID">ID záznamu</label>
                    <input type="number" asp-for="ID" class="form-control" />
                </div>

                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-success">Potvrdit</button>
                </div>
            </div>
        </form>

        <div class="card-body">
            @if (Model.Found == true)
            {
                <div class="alert alert-success">
                    <h5 class="d-inline-block mr-2">@Model.LogItem.CreatedAt.ToLocaleDatetime()</h5>
                    <a class="badge badge-danger" asp-action="RemoveItem" asp-route-id="@Model.LogItem.ID">Smazat</a>

                    <pre class="text-wrap">@Model.LogItem.Data</pre>
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Požadovaný záznam nebyl nalezen
                </div>
            }
        </div>
    </div>
</div>