@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');

* {
    font-family: 'Red Hat Text', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.block {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-content {
    flex-grow: 1
}

.table {
    width: 1000px;
    border-collapse: collapse;
}

    .table.top-space {
        margin-top: 20px;
    }

    .table tr td, .table tr th {
        border: 1px solid;
        padding: 5px;
        text-align: left;
    }

    .table tr .bold-right-border {
        border-right-width: 4px;
    }