@model Grillbot.Models.Internal.MemoryStatusViewModel;

@{
    ViewData["Title"] = "Správa paměti";
}

<div class="mt-2 mr-3 ml-3">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 1000px">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <b>Celkem alokováno paměti:</b><br />
                        @FormatHelper.FormatAsSize(Model.TotalAllocatedBytes)
                    </div>

                    <div class="col">
                        <b>Ve spravované paměti:</b><br />
                        @FormatHelper.FormatAsSize(Model.TotalManagedMemory)
                    </div>

                    <div class="col">
                        <b>Fragmentace:</b><br />
                        @FormatHelper.FormatAsSize(Model.MemoryInfo.FragmentedBytes)
                    </div>

                    <div class="col">
                        <b>Na haldě:</b><br />
                        @FormatHelper.FormatAsSize(Model.MemoryInfo.HeapSizeBytes)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>