@model ChannelboardViewModel;

@{
    ViewData["Title"] = "Kanály";
}


<div class="mt-2 mr-3 ml-3">
    <div class="d-flex justify-content-center">
        <table class="table table-striped table-sm mt-4 table-bordered" style="width: 1700px">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Uživatel</th>
                    <th>Server</th>
                    <th>Kanál</th>
                    <th>Zpráva</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Count == 0)
                {
                    <tr>
                        <th colspan="6" class="text-center">Žádný kanál nezaznamenán.</th>
                    </tr>
                }

                @foreach (var item in Model.Items)
                {
                    <tr>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
