name: Build app

on:
  push:
    branches: [master]
    paths-ignore:
    - '**.md'
  pull_request:
    branches: [master]
    paths-ignore:
    - '**.md'

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.301
      - name: Install dependencies
        run: |
          dotnet nuget add source -n "MyGet_DiscordNET_Prerelease" https://www.myget.org/F/discord-net/api/v3/index.json
          dotnet restore src/
      - name: Build
        run: dotnet build src/ --configuration Release --no-restore
